<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"   [routerLink]="['/dashboard']" > ProjectTest </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/users']">{{ 'users' | translate }}</a>
        </li>

      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end w-100">
        <li class="nav-item ">
          <button class="Btn"  (click)="logout()">

            <div class="sign">
              <i class="fas fa-sign-out-alt"></i>
            </div>

            <div class="text">{{ 'logout' | translate }}</div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
